// flex: https://studiomeal.com/archives/197
// flex: flex-grow, flex-shrink, flex-basis

// grid: https://studiomeal.com/archives/533

body {
  background-color: $BACKGROUND-COLOR;
  font-family: Pretendard-Medium, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
}

dl, dt, dd {
  margin: 0;
  padding: 0;
}