// flex: https://studiomeal.com/archives/197
// grid: https://studiomeal.com/archives/533

body {
  background-color: $BACKGROUND-COLOR;
  font-family: Pretendard-Medium, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
}

.header{
  display: flex;
  gap: 10px;
  height: 60px;
  background-color: $HEADER-COLOR;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  justify-content: center;

  .main {
    width: 1150px;

    .article-section {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(0, 1fr));

      .article {
        height: 300px;
        border: 1px solid red;
      }
    }
  }
}