// flex: https://studiomeal.com/archives/197
// grid: https://studiomeal.com/archives/533

body {
  background-color: $BACKGROUND-COLOR;
  font-family: Pretendard-Medium, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
}

.header{
  display: grid;
  gap: 10px;
  height: 60px;
  background-color: $HEADER-COLOR;
  grid-template-columns: 1fr 3fr 1fr;
  justify-items: center;
  align-items: center;
  color: $WHITE-FONT;

  .logo-container {
    padding-left: 20px;
    justify-self: start;
  }

  .menu-container {
    display: flex;
    height: 100%;
    gap: 10px;

    .menu {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      height: 100%;
      cursor: pointer;

      &:hover {
        background-color: $SELECTED-MENU;
      }
    }
  }
}

.content {
  display: flex;
  justify-content: center;

  .main {
    width: 1150px;

    .article-section {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(0, 1fr));

      .article {
        height: 300px;
        background-color: bisque;
      }
    }
  }
}